/* ABOUT page styles */

.hide {
  opacity: 0;
}

.light-bg {
  background-color: #292929;
}

@keyframes fadeAndSlideToLeft {
  0% {
    opacity: 0;
    transform: translate(2.55vw, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeAndSlideToRight {
  0% {
    opacity: 0;
    transform: translate(-2.55vw, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.about-container {
  padding: 0px;
  margin: 2.35vw 0px 2.35vw 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-about {
  animation: 0.8s linear 0s 1 setToTransparent,
    0.8s ease-out 0.8s 1 fadeAndSlideToLeft;
  flex: 1;
  text-align: right;
  max-width: 100%;
  margin-right: 2.55vw;
}

.about-top-img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.right-about {
  animation: 0.8s linear 0s 1 setToTransparent,
    0.8s ease-out 0.8s 1 fadeAndSlideToRight;
  flex: 1;
  max-width: 100%;
  margin-left: 2.55vw;
}

.about-blurb {
  max-width: 60%;
}

.card-row1-about-col {
  flex: 1;
  text-align: left;
  max-width: 100%;
}

.about-row1 {
  align-items: flex-start;
  margin-bottom: 0px;
}
