/* GLOBAL styles (fonts, colours, navbar) */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400italic,600);

/* CSS reset */
html,
body {
  margin: 0;
  padding: 0;
}

/* Set lowest background, default font, side margins */
body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #121212;
  font-family: "Montserrat", "PT Sans", sans-serif;
  color: #ffffff;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: #14ffec;
}

a:hover {
  text-decoration: underline;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Debugging borders */
.debug-border {
  border: solid;
  border-color: yellow;
  border-width: 1px;
}

@keyframes setToTransparent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar-trim {
  backdrop-filter: brightness(30%) saturate(30%) blur(3px);
  width: 100%;
  /* height: 10px; */
  height: 0.51vw;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  padding: 0;
  top: 0px;
  position: sticky;
  overflow: hidden;
  z-index: 99;
}

.navbar {
  animation: 0s ease-out 0s 1 setToTransparent, 0.6s ease-out 0s 1 fadeIn;
  background-color: #323232;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  list-style-type: none;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  padding: 0;
  /* top: 10px; */
  top: 0.5vw;
  width: 100%;
  /* height: 100px; */
  height: 5.255vw;
  position: sticky;
  overflow: hidden;
  z-index: 99;
}

.nav-container {
  /* margin-left: 25px;
  margin-right: 25px; */
  margin-left: 1.31vw;
  margin-right: 1.31vw;
}

.navbar .logo {
  float: left;
  /* padding: 25px;
  padding-top: 20px; */
  padding: 1.31vw;
  padding-top: 1.051vw;
  transition: 0s;
}

.logo-img {
  height: 2.75vw;
  width: 2.75vw;
}

.navbar .logo:hover {
  transition: 0.2s;
  transform: scale(1.2);
}

.navlink {
  float: right;
}

.navlink a {
  display: block;
  color: white;
  text-align: center;
  /* height: 100px; */
  height: 5.255vw;
  /* padding-top: 40px; */
  padding-top: 2.075vw;
  /* padding-right: 25px;
  padding-left: 25px; */
  padding-right: 1.275vw;
  padding-left: 1.275vw;

  text-decoration: none;
  /* font-size: 17px; */
  font-size: 0.89vw;
  font-weight: 600;
  position: relative;
}

.navlink a:hover {
  background-color: #292929;
  color: #dddddd;
  transition: all 0.4s ease-in-out 0s;
}

.navlink a.active {
  background-color: #292929;
  color: #dddddd;
}

.navlink a.active:before {
  background-color: #ffffff;
  visibility: visible;
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}

.navlink a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  /* top: 98px; */
  top: 5.1vw;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.navlink a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@keyframes headerDropIn {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.page-header {
  animation: 0.4s linear 0s 1 setToTransparent,
    0.4s ease-out 0.4s 1 headerDropIn;
  margin-top: 2.35vw;
  margin-bottom: 2.35vw;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-bottom: 5.35vh;
  background: #292929;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  transition: all 0.2s ease-in;

  border-color: #292929;
  border-style: solid;
  border-width: 1px;
}

.card:hover {
  background: #323232;

  border-color: #5f5f5f;
}

.card-inner {
  margin: 5.35vh 2.55vw 5.35vh 2.55vw;
  padding: 0px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  /* For column, this affects vertical. Try 'baseline' */
  justify-content: baseline;
  /* For column, this affects horizontal */
  align-items: flex-start;
}

.card-row1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5.35vh;
  pointer-events: none;
}

.card-row1-left {
  flex: 1;
  text-align: left;
  max-width: 100%;
}

.card-row1-right {
  flex: 1;
  text-align: right;
  max-width: 100%;
}

.card-row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/* 5.35vh == 50px vertically on 1080p in Chrome */
/* 2.55vw == 50px horizontally on 1080p in Chrome */
.card-row2-left {
  flex: 1;
  margin-right: 2.55vw;
  pointer-events: none;
  height: 51.36vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-row2-right {
  border-color: green;
  border-width: 5px;
  flex: 1;
  margin-left: 2.55vw;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  /* For column, this affects vertical. */
  justify-content: space-between;
  /* For column, this affects horizontal */
  align-items: center;
}

.card-row2-right-top {
  width: 100%;
  flex: 1;
  text-align: left;
  pointer-events: none;
  margin-bottom: 5.35vh;
}

.card-row2-right-bottom {
  width: 100%;
  flex: initial;
  text-align: right;
}

/* --- Transitions activated by js --- */

@keyframes cardSlideIn {
  0% {
    opacity: 0;
    transform: translate(-8vw, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.card-appear {
  animation: 0.4s ease-out 0s 1 cardSlideIn;
}

.card0-anim {
  animation: 0.8s linear 0s 1 setToTransparent, 0.4s ease-out 0.8s 1 cardSlideIn;
}

.hide-card {
  opacity: 0;
}

.hide-img {
  display: none;
}

.show-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.hide-vid {
  display: none;
}

.show-vid {
  display: block;
  width: 100%;
  height: auto;
}

/* ----------------------------------- */

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

/* Equivalent to 48px on 1080p Chrome */
.vwtext-48 {
  font-size: 2.5vw;
}
.size-48 {
  font-size: 48px;
}

/* Equivalent to 36px on 1080p Chrome */
.vwtext-36 {
  font-size: 1.875vw;
}
.size-36 {
  font-size: 36px;
}

/* Equivalent to 24px on 1080p Chrome */
.vwtext-24 {
  font-size: 1.25vw;
}
.size-24 {
  font-size: 24px;
}

/* Equivalent to 20px on 1080p Chrome */
.vwtext-20 {
  font-size: 1.042vw;
}
.size-20 {
  font-size: 20px;
}

/* Equivalent to 18px on 1080p Chrome */
.vwtext-18 {
  font-size: 0.9375vw;
}
.size-18 {
  font-size: 18px;
}

/* Equivalent to 16px on 1080p Chrome */
.vwtext-16 {
  font-size: 0.83vw;
}
.size-16 {
  font-size: 16px;
}
