/* PORTFOLIO page styles */

/* div {
  border: solid;
  border-width: 1px;
  border-color: yellow;
} */

/* 5.35vh == 50px vertically on 1080p in Chrome... NOT REALLY */
/* 2.55vw == 50px horizontally on 1080p in Chrome */
/* 2.35vw == 50px VERTICALLY on 1080p in Chrome */

/* All card classes are moved to global.css */

.light-bg {
  background-color: #292929;
}
