/* PORTFOLIO page styles */

/* div {
  border: solid;
  border-width: 1px;
  border-color: yellow;
} */

/* 5.35vh == 50px vertically on 1080p in Chrome... NOT REALLY */
/* 2.55vw == 50px horizontally on 1080p in Chrome */
/* 2.35vw == 50px VERTICALLY on 1080p in Chrome */

/* All card classes are moved to global.css */

.light-bg {
  background-color: #292929;
}

.cv-download {
  animation: 0.4s linear 0s 1 setToTransparent,
    0.4s ease-out 0.4s 1 headerDropIn;
  margin-top: 0vw;
  margin-bottom: 1.35vw;
  text-align: center;
}