/* PORTFOLIO page styles */

/* div {
  border: solid;
  border-width: 1px;
  border-color: yellow;
} */

/* 5.35vh == 50px vertically on 1080p in Chrome */
/* 2.55vw == 50px horizontally on 1080p in Chrome */

@keyframes headerDropIn {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.portfolio-header {
  animation: 0.4s linear 0s 1 setToTransparent,
    0.4s ease-out 0.4s 1 headerDropIn;
  margin-top: 5.35vh;
  margin-bottom: 5.35vh;
  text-align: center;
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes gameCardSlideIn {
  0% {
    opacity: 0;
    transform: translate(-8vw, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.card {
  margin-bottom: 5.35vh;
  background: #292929;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  transition: all 0.2s ease-in;
  /* border: solid;
  border-width: 1px;
  border-color: #292929; */
}

.card:hover {
  background: #323232;
  /* border-color: #dddddd; */
}

.card-inner {
  margin: 5.35vh 2.55vw 5.35vh 2.55vw;
  padding: 0px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  /* For column, this affects vertical. Try 'baseline' */
  justify-content: baseline;
  /* For column, this affects horizontal */
  align-items: flex-start;
}

.card-row1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5.35vh;
  pointer-events: none;
}

.card-row1-left {
  flex: 1;
  text-align: left;
  max-width: 100%;
}

.card-row1-right {
  flex: 1;
  text-align: right;
  max-width: 100%;
}

.card-row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.card-row2-left {
  flex: 1;
  text-align: left;
  margin-right: 2.55vw;
  pointer-events: none;
}

.card-row2-right {
  border-color: green;
  border-width: 5px;
  flex: 1;
  margin-left: 2.55vw;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  /* For column, this affects vertical. */
  justify-content: space-between;
  /* For column, this affects horizontal */
  align-items: center;
}

.card-row2-right-top {
  width: 100%;
  flex: 1;
  text-align: left;
  pointer-events: none;
}

.card-row2-right-bottom {
  width: 100%;
  flex: initial;
  text-align: right;
}

/* TESTING ONLY - DO THIS GRADED TRANSITION IN JS LATER */

.anim1 {
  animation: 0.8s linear 0s 1 setToTransparent,
    0.4s ease-out 0.8s 1 gameCardSlideIn;
}

.anim2 {
  animation: 1s linear 0s 1 setToTransparent, 0.4s ease-out 1s 1 gameCardSlideIn;
}

.anim3 {
  animation: 1.2s linear 0s 1 setToTransparent,
    0.4s ease-out 1.2s 1 gameCardSlideIn;
}

.anim4 {
  animation: 1.4s linear 0s 1 setToTransparent,
    0.4s ease-out 1.4s 1 gameCardSlideIn;
}

/* ---------------------------------------------------- */

.hide {
  opacity: 0;
}

.light-bg {
  background-color: #292929;
}

.bold {
  font-weight: 600;
}

/* Equivalent to 48px on 1080p Chrome */
.vwtext-48 {
  font-size: 2.5vw;
}
.size-48 {
  font-size: 48px;
}

/* Equivalent to 36px on 1080p Chrome */
.vwtext-36 {
  font-size: 1.875vw;
}
.size-36 {
  font-size: 36px;
}

/* Equivalent to 24px on 1080p Chrome */
.vwtext-24 {
  font-size: 1.25vw;
}
.size-24 {
  font-size: 24px;
}

/* Equivalent to 20px on 1080p Chrome */
.vwtext-20 {
  font-size: 1.042vw;
}
.size-20 {
  font-size: 20px;
}

.italic {
  font-style: italic;
}
