/* INDEX page styles */

@keyframes fadeAndSlideToLeft {
  0% {
    opacity: 0;
    transform: translate(10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeAndSlideToRight {
  0% {
    opacity: 0;
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

/* setToTransparent from global styles */
.left-index {
  animation: 0.4s linear 0s 1 setToTransparent,
    0.4s ease-out 0.4s 1 fadeAndSlideToLeft;
  flex: 2;
}

.home-text {
  font-size: 86px;
  text-align: left;
}

/* setToTransparent from global styles */
.right-index {
  animation: 0.8s linear 0s 1 setToTransparent,
    0.4s ease-out 0.8s 1 fadeAndSlideToRight;
  flex: 1;
}

.home-img {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin-left: -25%;
}

@keyframes fadeAndDropIn {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.button {
  width: 206px;
  height: 66px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  padding: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 50px;
  margin-top: 50px;
}

.home-button {
  top: 216px;
}

.button-light {
  animation: 1s linear 0s 1 setToTransparent, 0.4s ease-out 1s 1 fadeAndDropIn;
  background-color: #ffffff;
  color: #121212;
}

.button-light:hover {
  border: solid;
  border-width: 1px;
  border-color: white;
  background-color: black;
  color: white;
  transform: translate(0px, -4px);
  box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
}

.button-dark {
  animation: 1.2s linear 0s 1 setToTransparent,
    0.4s ease-out 1.2s 1 fadeAndDropIn;
  background-color: #323232;
  color: #ffffff;
}

.button-dark:hover {
  background-color: #ffffff;
  color: black;
  transform: translate(0px, -4px);
  box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
}
