/* Add a black background color to the top navigation */
body {
  background-color: #121212;
  font-family: "PT Sans", sans-serif;
}

.navbar {
  background-color: #323232;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.navbar .logo {
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  float: left;
  margin: 10px 0px 0px 25px;
  padding: 10px;
  border: 2px solid white;
  text-align: center;
}

.navbar a {
  float: right;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  transition: 0s;
  padding: 25px;
  position: relative;
}

.navbar a.active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #ffffff;
  visibility: visible;
  -webkit-transition: all 0s;
  transition: all 0s;
}

/* navbar hover animation --------------------------------- */
.navbar a:hover {
  color: #ffffff;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 70px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.navbar a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* ---------------------------------------------------------*/
