/* INDEX page styles */

@keyframes fadeAndSlideToLeft {
  0% {
    opacity: 0;
    transform: translate(10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
  }
}

@keyframes fadeAndSlideToRight {
  0% {
    opacity: 0;
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

/* Debugging borders */
/* div {
  border: solid;
  border-color: yellow;
  border-width: 1px;
} */

.index-container {
  padding: 0px;
  margin: 50px 0px 50px 0px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-index {
  flex: 2;
  display: block;
  text-align: left;
  max-width: 100%;
}

.home-text {
  font-size: 4.48vw; /* Looks like 86px on 1920x1080 */
  text-align: left;
  font-weight: 600;
}

.right-index {
  flex: 1;
  max-width: 100%;
  margin-left: -5%;
}

.index-img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.index-composer-img {
  height: 80%;
  width: 80%;
}

.home-text:nth-child(1) {
  animation: 0.4s linear 0s 1 setToTransparent,
    0.4s ease-out 0.4s 1 fadeAndSlideToLeft;
}

.home-text:nth-child(2) {
  animation: 1.2s linear 0s 1 setToTransparent,
    0.4s ease-out 1.2s 1 fadeAndSlideToLeft;
}

.right-index:nth-child(2) {
  animation: 0.8s linear 0s 1 setToTransparent,
    0.4s ease-out 0.8s 1 fadeAndSlideToRight;
}

.right-index:nth-child(3) {
  animation: 1.6s linear 0s 1 setToTransparent,
    0.4s ease-out 1.6s 1 fadeAndSlideToRight;
  position: relative;
  z-index: -1;
  margin-left: -5%;
}

@keyframes fadeAndDropIn {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.button {
  width: 206px;
  height: 66px;
  border: none;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  padding: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 50px;
  margin-top: 50px;
}

.home-button {
  top: 216px;
}

.button-light {
  animation: 2.2s linear 0s 1 setToTransparent,
    0.4s ease-out 2.2s 1 fadeAndDropIn;
  background-color: #ffffff;
  color: #121212;
}

.button-light:hover {
  border: solid;
  border-width: 1px;
  border-color: white;
  background-color: black;
  color: white;
  transform: translate(0px, -4px);
  box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
}

.button-dark {
  animation: 2.4s linear 0s 1 setToTransparent,
    0.4s ease-out 2.4s 1 fadeAndDropIn;
  background-color: #323232;
  color: #ffffff;
}

.button-dark:hover {
  background-color: #ffffff;
  color: black;
  transform: translate(0px, -4px);
  box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
}

.button:active {
  transform: translate(0px, 4px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
