/* MUSIC page styles */

@keyframes titleDropIn {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.placeholder-text {
  animation: 0.4s linear 0s 1 setToTransparent, 0.4s ease-out 0.4s 1 titleDropIn;
  width: 100%;
  font-size: 86px;
  text-align: center;
}
